.message {
    height: fit-content;
    &__content {
        padding: 50px 0;
        height: 100%;

        background-image: url('@/assets/img/invite_bg.png');
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;

        background-color: #efeccf;

        .wrapper {
            padding: 30px;
            justify-content: flex-start;
            background-color: #fffce9d6;
        }
    }
    &__item {
        text-align: center;
        font-family: 'Calm Extra';
        font-size: 18px;
        font-weight: 300;
        line-height: 1;

        p {
            line-height: 1.5;
        }
        &.title {
            //margin-top: 20px;

            font-family: 'Bickham Script Three';
            font-style: italic;
            font-weight: 500;
            font-size: 50px;
            //line-height: 3;
        }
        &.wait {
            margin-top: 20px;

            font-family: 'Calm Extra';
            font-size: 22px;
            line-height: 1.2;
        }
        &.caption {
            margin: 40px 0 30px 0;

            font-size: 15px;
            font-family: 'Agonia';
            white-space: nowrap;
        }
        &.time {
            font-size: 22px;
            font-weight: 500;
        }
        .confirm {
            display: flex;
            flex-direction: column;
            align-items: center;

            &__title {
                font-size: 25px;
                margin: 0px 0 20px 0;
            }

            &__input-wrapper {
                position: relative;
                top: 0;
                left: 0;

                .count-label {
                    content: 'человек';

                    position: absolute;
                    bottom: -12px;
                    right: 0px;

                    font-size: 14px;

                    user-select: none;
                }
            }

            &__input {
                padding: 7px;

                height: 30px;

                border-radius: 20px;
                background-color: #e4e2cfd6;

                font-size: 16px;
                line-height: 16px;
                text-align: center;

                &.name {
                    width: calc(100% - 60px);
                }

                &.count {
                    width: 40px;
                    font-size: 20px;
                }
            }
            &__btn {
                margin-top: 35px;
                display: block;

                width: 100%;

                border-radius: 20px;
                background-color: #a1977f;
                color: white;
                font-weight: bold;
            }
        }
    }
}